# This is created programatically on 2023-03-19 | 14:33:1679216595


[User-Primary--Sabari]
path=/mounts/User-Primary--Sabari
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no


[User-Primary--Sabee]
path=/mounts/User-Primary--Sabee
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no


[User-Secondary--Sabee]
path=/mounts/User-Secondary--Sabee
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no


[User-Secondary--Sabari]
path=/mounts/User-Secondary--Sabari
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no


[Game--Records]
path=/mounts/Game--Records
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no


[Game--Backup]
path=/mounts/Game--Backup
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no


[home-work--disk]
path=/mounts/home-work--disk
comment = Programmatical
writable=Yes
create mask=0777
directory mask=0777
force create mode = 0666
force directory mode = 0777
follow symlinks = yes
wide links = yes
veto files = /lost+found/*.config-share*/
public=no