# This is created programatically


[128M Size Volume]
path=/home/saravananindra/CustomCodes/mounts/128M Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[SiSABackupDrive]
path=/home/saravananindra/CustomCodes/mounts/SiSABackupDrive
writable=Yes
create mask=0777
directory mask=0777
public=no


[100M Size Volume]
path=/home/saravananindra/CustomCodes/mounts/100M Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[139.9G Size Volume]
path=/home/saravananindra/CustomCodes/mounts/139.9G Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[97.7G Size Volume]
path=/home/saravananindra/CustomCodes/mounts/97.7G Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[works]
path=/home/saravananindra/CustomCodes/mounts/works
writable=Yes
create mask=0777
directory mask=0777
public=no


[Installers]
path=/home/saravananindra/CustomCodes/mounts/Installers
writable=Yes
create mask=0777
directory mask=0777
public=no


[WorkTempStorage]
path=/home/saravananindra/CustomCodes/mounts/WorkTempStorage
writable=Yes
create mask=0777
directory mask=0777
public=no


[100M Size Volume]
path=/home/saravananindra/CustomCodes/mounts/100M Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[16M Size Volume]
path=/home/saravananindra/CustomCodes/mounts/16M Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[233.5G Size Volume]
path=/home/saravananindra/CustomCodes/mounts/233.5G Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[Sabari]
path=/home/saravananindra/CustomCodes/mounts/Sabari
writable=Yes
create mask=0777
directory mask=0777
public=no


[499M Size Volume]
path=/home/saravananindra/CustomCodes/mounts/499M Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no


[79.4G Size Volume]
path=/home/saravananindra/CustomCodes/mounts/79.4G Size Volume
writable=Yes
create mask=0777
directory mask=0777
public=no