# This is created programatically


[Files]
path=/home/pi/mounts/Files
writable=Yes
create mask=0777
directory mask=0777
public=no


[Entertainment]
path=/home/pi/mounts/Entertainment
writable=Yes
create mask=0777
directory mask=0777
public=no


[Animation]
path=/home/pi/mounts/Animation
writable=Yes
create mask=0777
directory mask=0777
public=no